$purple:      #7634A8;

$grey1:       #819195;
$grey2:       #F4F4F4;
$grey3:       #E0E3E4;

$black:       #04242C;

$blue1:       #3AA4E8;
$blue2:       #625EB1;

$dark-blue:    #2787DA;

$mainEaseing: cubic-bezier(0.43, 0, 0.03, 1);
